{% extends 'base.html' %}
<!-- {% import 'macros.html' as macro%} -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container" id="general">
    {% for sources in general %}
    <div class="colums">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> 
                        {{ sources.name}}
                </div>
                <div class="panel-body">
                    <p>
                        {{ sources.description |truncate(100)}}

                    </p>
                    <a href="{{sources.url}}" class="btn btn-success btn-sm" style="margin-left:50px;">Visit {{sources.name}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>


{% endblock %}
{% block content %}
<div class="container" id="news">
    {% for articles in general %}
    <div class="columns">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> 
                        {{ articles.name}}
                </div>
                <div class="panel-body">
                    <p>
                        {{ articles.description |truncate(100)}}

                    </p>
                    <a href="{{articles.url}}" class="btn btn-success btn-sm" style="margin-left:50px;">Visit {{article.name}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>


{% endblock %}