{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}


<div id="pesh">
    <div class="container" >
        <div class="columns" style="display: flex; flex-wrap: wrap;">
                {% for articles in all%}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <img class="card-img-top" src="{{articles.urlToImage}}" height="195px">
                    <div class="panel-heading text-center">
                            {{articles.author}}
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ articles.description |truncate(100)}}
                        </p>
                        <a href="{{articles.url}}" class="btn btn-primary btn-sm">Visit
                                Site</a>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
   
    {% endblock %}